
/* Set the font family for the entire website */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Set the background color for the entire website */
body {
  background-color: #f5f5f5;
}

/* Set the color for all headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  animation: fadeInUp;
  animation-duration: 1s;
}

/* Set the font size and color for all links */
a {
  font-size: 16px;
  color: #00ffd5;
  animation: bounceIn;
  animation-duration: 1s;
}

/* Set the hover color for all links */
a:hover {
  color: #0056b3;
  animation: pulse;
  animation-duration: 1s;
}
